<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools" android:versionName="2.31.0" package="com.LovePatrolAlpha.TT2Master" android:installLocation="auto" android:versionCode="231">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="29" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<!-- In App Purchasement -->
	<uses-permission android:name="com.android.vending.BILLING" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<!-- Storage Permission Override -->
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
	<!-- Deny Permissions -->
	<uses-permission android:name="android.permission.READ_PHONE_STATE" tools:node="remove" />
	<application android:label="TT2Master" android:icon="@drawable/new_logo" android:requestLegacyExternalStorage="true" android:networkSecurityConfig="@xml/network_security_config" android:allowBackup="true">
	</application>
</manifest>